---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { Image } from 'astro:assets';

// Use import.meta.glob to import all images from the gallery directory
const images = import.meta.glob('../assets/gallery/*.jpg', { eager: true });

const photos = Object.keys(images).map((path) => {
  const filename = path.split('/').pop();
  const name = filename!.split('.')[0];
  return {
    src: images[path].default,
    alt: name,
    date: images[path].metadata.date,
  };
});

//sort photos based on file metadata date
---

<Layout>
  <Header activeNav="gallery"/>
  <main id="main-content">
    <section id="hero">
        <h1 class="mr-2">Gallery</h1>
        <p>A gallery of various photos I have taken. All files are licensed under CC BY-NC. The order of the photos are randomized every time this website is redeployed.</p>
    </section>
    <section id="gallery" class="columns-1 sm:columns-2 w-full mb-10">
      {photos.map(photo => (
        <Image src={photo.src} alt={photo.date} style={{marginBottom: "10px"}} />
      ))}
    </section>
  </main>
  <Footer />
</Layout>

<style>
  #gallery img {
    width: 100%;
    height: auto;
  }
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-2xl font-bold sm:my-8 sm:text-3xl;
  }
  #hero p {
    @apply my-2;
  }
</style>
